<fieldset>
<legend>Form</legend>

<div class="form-group">
{% for param in method.params['in'] %}
    <!-- Text input-->
    <label class="col-md-offset-2 col-md-8 control-label" for="{{ param.name }}">{{ param.name }}</label>
    <div class="col-md-offset-2 col-md-8">
        <input id="input_id_{{ param.name }}" name="input_name_{{ param.name }}" placeholder="{{ param.type }}" class="form-control input-md" type="text">
        <span class="help-block">{{ param.name }}</span>
    </div>
{% endfor %}
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-offset-2 col-md-8 control-label" for="button1id">Double Button</label>
  <div class="col-md-offset-2 col-md-8">
    <button id="{{ method.name }}_button_submit" name="{{ method.name }}_button_submit" class="btn btn-success">Submit</button>
    <button id="{{ method.name }}_button_cancel" name="{{ method.name }}_button_cancel" class="btn btn-danger">Cancel</button>
  </div>
</div>

</fieldset>
