<script>
    $(document).ready(function () {

        interfaces.{{ rapan.interface.name }}.{{ method.name }}.always = function (
            {% for param in method.params['out'] %}
                {% if loop.last %}
                    _{{ param.name }}
                {% else %}
                    _{{ param.name }},
                {% endif %}
            {% endfor %}
        ) {
            {% for param in method.params['out'] %}
                console.log("received: _{{ param.name }}=" + _{{ param.name }}.toString());
            {% endfor %}
        };



        $("#{{ method.name }}_button_submit").click(function () {

        {% for param in method.params['in'] %}
        {% if "int" == param.type %}
            var {{ param.name }}_value = parseInt($("#input_id_{{ param.name }}").val());
        {% else %}
            var {{ param.name }}_value = $("#input_id_{{ param.name }}").val();
        {% endif %}
            console.log({{ param.name }}_value);
        {% endfor %}


            interfaces.{{ rapan.interface.name }}.{{ method.name }}.call(
        {% for param in method.params['in'] %}
            {% if loop.last %}
                {{ param.name }}_value
            {% else %}
                {{ param.name }}_value,
            {% endif %}
        {% endfor %}
            );
        });
    });
</script>

