{% for method in rapan.methods %}
<h2>
    <a href="{{ config.ip_addresses[rapan.interface.name] }}/show_usage_of_generated_code/{{ rapan.interface.name }}.rapan/{{ method.name }}">{{ method.name }}</a>
</h2>
{% endfor %}
