<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Add must item</legend>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="textinput">Text Input</label>
    <div class="col-md-4">
        <input id="textinput" name="textinput" placeholder="placeholder" class="form-control input-md" type="text">
        <span class="help-block">format: text &lt;&lt;namespace.requirementID&gt;&gt; text text</span>
    </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
    <label class="col-md-4 control-label" for="btnSubmit"></label>
    <div class="col-md-8">
        <button id="btnSubmit" name="btnSubmit" class="btn btn-success">Add</button>
        <button id="btnDismiss" name="btnDismiss" class="btn btn-danger">Dismiss</button>
    </div>
</div>

</fieldset>
</form>
