<!-- Modal -->
<div class="modal fade" id="add_must_modal_window" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">

        <fieldset>
            <legend>Add must item</legend>

            <div class="form-group">
                <!-- Text input-->
                <label class="col-md-offset-2 col-md-8 control-label" for="content">content</label>
                <div class="col-md-offset-2 col-md-8">
                    <input id="input_id_content" name="input_name_content" placeholder="string" class="form-control input-md" type="text">
                    <span class="help-block">content</span>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="modal-footer">
        <button id="add_must_button_submit" name="add_must_button_submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>

</div>
</div>

<script>
interfaces.requirements_parser.add_must.always = function () {
    location.reload();
};

$("#add_must_button_submit").click(function () {
    var content_value = $("#input_id_content").val();
    console.log(content_value);

    interfaces.requirements_parser.add_must.call(
        content_value,
        "{{ path_to_requirement }}"
    );
});
</script>
