<ol class="breadcrumb">
{% for breadcrumb in breadcrumbs %}
    {% if forloop.last %}
        <li class="breadcrumb-item active">{{ breadcrumb.0 }}</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a></li>
    {% endif %}
{% endfor %}
</ol>
