{% load staticfiles %}

{{ generated_html_code|safe }}
{% csrf_token %}

<script async="" src="{% static "js/interfaces/requirements_parser.js" %}"></script>
<script async="" src="{% static "js/common/jquery.cookie.js" %}"></script>
<script async="" src="{% static "js/common/helper_functions.js" %}"></script>
