{% load staticfiles %}

<style>
    html,
    body {
        margin:0;
        min-height: 100vh;
    }

    #footer {
        height: 300px;
        margin-top:6em;
        text-align:center;
        font-size:1.5em;
        padding-bottom:3em;
    }

    .bodyBackGroundTop {
        background:url({% static "img/header-background.png" %}) no-repeat center top;
    }

    .bodyBackGroundBottom {
        background:url({% static "img/footer-img.png" %}) no-repeat center bottom;
    }

    /* Custom footer CSS
    -------------------------------------------------- */

</style>

<div id="footer">
    Developed by Yuriy Gyerts. I love you Nastya!
</div>



<!-- Mainly scripts -->
<script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
<script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
<script src="{% static "js/requirement_parser_controller.js" %}"></script>

<script>
    $(document).ready(function () {
        requirement_parser_controller.init("{{ path_to_requirement }}");
    });
</script>

<!-- Custom and plugin javascript -->
{#<script src="{% static "js/inspinia.js" %}"></script>#}
