{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}" rel="stylesheet">

    <script src="{% static "js/common/helper_functions.js" %}"></script>
    <script src="{% static "js/interfaces/requirements_parser.js" %}"></script>

{#    <link href="{% static "css/style.css" %}" rel="stylesheet">#}
{#    <link href="{% static "css/style_inspinia.css" %}" rel="stylesheet">#}
</head>
