{% load staticfiles %}
{% for must in requirement.must %}
<table class="line">
    <tr class="my_parent transition line">
        <td class="h4margin control-icons">
            <img data-toggle="{{ forloop.counter0 }}" class="delete_must_item pointer my_hidden transition" src="{% static "img/cancel.png" %}" height="30px" alt="">
        </td>
        <td class="h4margin status-label">
            {% include "status_label_converter.html" with status=must.status %}
        </td>
        <td>
            <h4>{{ must.text|safe }}</h4>
        </td>
    </tr>
</table>
{% endfor %}
