{% load staticfiles %}

{% for requirement_id, content in requirement.requirements.items %}
<table class="line">
    <tr class="my_parent transition">
        <td class="h4margin control-icons">
            <img class="pointer my_hidden transition" src="{% static "img/cancel.png" %}" height="30px" alt="">
        </td>
        <td class="h4margin status-label">
            {% include "status_label_converter.html" with status=must.status %}
        </td>
        <td>
            <h4><a href="/requirements/show/{{ content.path }}">{{ content.id }}</a></h4>
        </td>
    </tr>
</table>
{% endfor %}
