<!DOCTYPE html>

{% load staticfiles %}

<html lang="ru" class="bodyBackGroundTop">

{% include "head.html" %}

<body class="bodyBackGroundBottom">

<div class="container">
    {% include "navbar.html" %}
    {% include "breadcrumbs.html" %}

    <div class="row">
        <div class="col-sm-6">
            <h1>{{ requirement.id }}</h1>
        </div>
    </div>

    {% include "tabs.html" %}
    {% include "add_must_modal_window.html" %}
</div>

{% include "footer.html" %}

</body>


<script>
    {% include "navbar.js" %}
</script>

{% csrf_token %}

</html>
