{% load staticfiles %}

<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url "show_requirements" "main" %}">Requirements</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url "show_requirements" "main" %}">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Add</li>
          <li>
              <a href="#">
                  <span class="glyphicon glyphicon-plus"></span>
                  <span class="label label-info">REQUIREMENT</span>
              </a>
          </li>
          <li>
              <a href="#" data-toggle="modal" data-target="#add_must_modal_window">
                  <span class="glyphicon glyphicon-plus"></span>
                <span class="label label-danger">MUST</span>
              </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">Transition</li>
          <li>
            <a data-toggle="tooltip" title="You can rebase this cherry to the other branch<img style='width:150px' src='{% static "img/rebase.png" %}' />">
                REBASE <i class="icon-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </li>



      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li role="separator" class="divider"></li>
          <li class="dropdown-header"><a href="/requirements/show_usage_of_generated_code/requirements_parser.rapan">show generated api</a></li>
        </ul>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="">Default <span class="sr-only">(current)</span></a></li>
      <li><a href="../navbar-static-top/">Static top</a></li>
      <li><a href="../navbar-fixed-top/">Fixed top</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>
