{% if 0 == status %}
<span class="label label-danger">open</span>
{% elif 1 == status %}
<span class="label label-primary">software design</span>
{% elif 2 == status %}
<span class="label label-primary">software construction</span>
{% elif 3 == status %}
<span class="label label-primary">software testing</span>
{% elif 4 == status %}
<span class="label label-primary">software integration</span>
{% elif 5 == status %}
<span class="label label-success">closed</span>
{% else %}
<span class="label label-danger">undefined</span>
{% endif %}
