{% load staticfiles %}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#info">Info</a></li>
    <li><a data-toggle="tab" href="#visual">Visual</a></li>
</ul>

<style>
    .my_parent .my_hidden {
        opacity: 0;
    }
    .my_parent:hover .my_hidden {
        opacity: 1;
    }
    .transition {
        transition: 0.5s;
    }
    .must {
        margin: 4px;
    }
    .h4margin {
        vertical-align: text-top;
        padding-right: 5px;
        padding-top: 5px;
    }
    .pointer {
        cursor: pointer;
    }

    .line {
        background-color: #f8f8f8;
        border: solid 1px #9d9d9d;
        margin-top: 10px;
        width: 100%;
        box-shadow: 0 0 4px rgba(0,0,0,0.5);
    }
    .line:hover {
{#        background-color: #e7e7e7;#}
        background-color: #f7931e;
{#        background-color: #706b7a;#}
    }
    .control-icons {
        width: 40px;
    }
    .requirement-label {
        width: 100px;
    }
    .must-label {
        width: 100px;
    }
    .status-label {
        width: 100px;
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 14px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
    }
    .success {background-color: #4CAF50;} /* Green */
    .success:hover {background-color: #46a049;}
    .info {background-color: #2196F3;} /* Blue */
    .info:hover {background: #0b7dda;}
    .warning {background-color: #ff9800;} /* Orange */
    .warning:hover {background: #e68a00;}
    .danger {background-color: #f44336;} /* Red */
    .danger:hover {background: #da190b;}
    .default {background-color: #e7e7e7; color: black;} /* Gray */
    .default:hover {background: #ddd;}
</style>

<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
        <h3>Information</h3>

        <div class="col-sm-offset-1 col-sm-10">
            {% if requirement.requirements.items %}
                <h4>Requirements <span class="label label-info">requirement</span></h4>
                {% include "list_of_requirements.html" %}
            {% endif %}

            {% if requirement.must %}
                <h4>Must do/has <span class="label label-danger must">must</span></h4>
                {% include "list_of_musts.html" %}
            {% endif %}
        </div>

    </div>
    <div id="visual" class="tab-pane fade">
        <img src="{% static "img/test_image.png" %}" alt="requirement">
    </div>
</div>
