<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/style_inspinia.css" %}" rel="stylesheet">
    <title>Кружок</title>

    <style>
        .emploee {
            width: auto;
            height: 30px;
        }
        .emploee100 {
            padding-top: 10px;
            width: 100%;
        }
        .block_of_content {
            padding-bottom: 13px;
        }
    </style>

</head>
<body>

<div class="container">

<div class="row">
    <div class="col-sm-1">
        <img class="emploee100 img-circle" src="/static/img/emploee/{{ user.get_username }}.jpeg" alt="">
    </div>
    <div class="col-sm-11">
        {% if user.is_superuser %}
            <h1>Привет <a href="/admin/">{{ user.first_name }}</a>!</h1>
        {% else %}
            <h1>Привет {{ user.first_name }}!</h1>
        {% endif %}
    </div>
</div>

<div class="tabs-container">
<div class="tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> Готово к прочтению</a></li>
        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">В стадии поготовки</a></li>
        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="true">Прочтено</a></li>
    </ul>
    <div class="tab-content ">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                {% if posts_ready.count == 0 %}
                    <h1>Пока нечего здесь показывать</h1>
                {% endif %}
                {% for post in posts_ready %}
                    <div class="">
                        <div class="ibox-title block_of_content">
                            <div class="col-sm-1">
                                <img class="emploee img-circle" src="/static/img/emploee/{{ post.author }}.jpeg" alt="">
                            </div>
                            <div class="col-sm-7">
                                <h5><a href="">{{ post.title }}</a></h5>
                            </div>
                            <div class="col-sm-4">
                                {{ post.published_date }}<br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body">
                {% if posts_backlog.count == 0 %}
                    <h1>Пока нечего здесь показывать</h1>
                {% endif %}
                {% for post in posts_backlog %}
                    <div class="block_of_content">
                        <div class="ibox-title">
                            <div class="col-sm-1">
                                <img class="emploee img-circle" src="/static/img/emploee/{{ post.author }}.jpeg" alt="">
                            </div>
                            <div class="col-sm-7">
                                <h5><a href="">{{ post.title }}</a></h5>
                            </div>
                            <div class="col-sm-4">
                                {{ post.published_date }}<br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="tab-3" class="tab-pane">
            <div class="panel-body">
                {% if posts_past.count == 0 %}
                    <h1>Пока нечего здесь показывать</h1>
                {% endif %}
                {% for post in posts_past %}
                    <div class="block_of_content">
                        <div class="ibox-title">
                            <div class="col-sm-1">
                                <img class="emploee img-circle" src="/static/img/emploee/{{ post.author }}.jpeg" alt="">
                            </div>
                            <div class="col-sm-7">
                                <h5><a href="">{{ post.title }}</a></h5>
                            </div>
                            <div class="col-sm-4">
                                {{ post.published_date }}<br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
   <!-- Mainly scripts -->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static "js/inspinia.js" %}"></script>

</html>
