from django.core.handlers.wsgi import WSGIRequest
from django.http import JsonResponse

{% for method in rapan.methods %}
from {{ rapan.component.name }}.views import {{ method.name }} as impl_{{ method.name }}
{% endfor %}


{% for method in rapan.methods %}
# implement this method before you can get profit
# def {{ method.name }}(_request,
{%- for param in method.params['in'] -%}
    {%- if loop.last -%}
       {{- param.name -}}):
    {%- else -%}
       {{- param.name }},
    {%- endif -%}
{% endfor %}
    return { {%- for param in method.params['out'] -%}
        "{{ param.name }}": "{{ param.type }}",
    {%- endfor -%} }

def {{ method.name }}(_request: WSGIRequest):
    if _request.method == 'POST' and _request.is_ajax():
        print("call registerPasport with _request.POST =", _request.POST)

{% for param in method.params['in'] %}
    {% if "int" == param.type %}
        {{ param.name }} = int(_request.POST.get('{{ param.name }}'))
    {% else %}
        {{ param.name }} = _request.POST.get('{{ param.name }}', None)
    {% endif %}
{% endfor %}

        try:
            data = impl_{{ method.name }}(_request,
            {%- for param in method.params['in'] -%}
                {%- if loop.last -%}
                   {{- param.name -}}
                {%- else -%}
                   {{- param.name }},
                {%- endif -%}
            {%- endfor -%}
            )

            if not isinstance(data, dict):
                raise AttributeError("[ERROR]: returned data from '{{ method.name }}' is not a dict")
            {% for param in method.params['out'] %}

            if "{{ param.name }}" not in data:
                raise AttributeError("[ERROR]: returned dict from '{{ method.name }}' must contains '{{ param.name }}' member")
            {% endfor %}

            ans = {
                "data": data,
                "status": "SUCCESS"
            }
        except Exception as ex:
            ans = {
                "data": None,
                "status": "ERROR",
                "error_msg": str(ex)
            }

        return JsonResponse(ans)


{% endfor %}
