from django.conf.urls import url
{% for method in rapan.methods %}
from {{ rapan.component.name }}.views_gen import {{ method.name }}
{% endfor %}

urlpatterns_gen = [
{% for method in rapan.methods %}
    url(r'^{{ method.name }}', {{ method.name }}),
{% endfor %}
]
