interfaces = {
    {{ rapan.interface.name }}: {
    {% for method in rapan.methods %}
        {{ method.name }}: {
            call: {% include "code/js/function.jinja2" %},
            success: null,
            fail: null,
            error: null,
            always: null
        },
    {% endfor %}
    }
};
