{% for field in form %}
    <div class="form-group">
        {% if field.errors %}
            <div class="bg-danger">{{ field.errors.0 }}</div>
        {% endif %}
        {% if field.field.required %}
            <input  id="{{ field.auto_id }}"
                    type="{{ field.label|lower }}"
                    name="{{ field.name }}"
                    class="form-control"
                    placeholder="{{ field.label|lower }}"
                    required>
        {% else %}
            <input  id="{{ field.auto_id }}"
                    type="{{ field.label|lower }}"
                    name="{{ field.name }}"
                    class="form-control"
                    placeholder="{{ field.label|lower }}">
        {% endif %}
    </div>
{% endfor %}
