{% load staticfiles %}
{% csrf_token %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>KRUJOK | Login</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">

    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="{% static "css/login_form__custom_style.css" %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">:)</h1>
            </div>
            <h3>Добро пожаловать в Кружок</h3>
            <p>Тут вы все станете мега умными типами</p>
            <p>Введите свою почту и пароль</p>
            <form class="m-t" role="form" action="{% url "login" %}" method="post">{% csrf_token %}

                {% include "accounts/fields.html" with form=form %}

                <button type="submit" class="btn btn-primary block full-width m-b">Войти</button>

                <a href="#"><small>Забыли пароль?</small></a>
                <p class="text-muted text-center"><small>Сюда если нет аккаунта</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url "register" %}">Создать учетную запись</a>
            </form>
            <p class="m-t"> <small>Krujok we app framework base on Bootstrap 3 &copy; 2017</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

</body>

</html>
