                request.done(function(msg) {
                    console.log(msg);
                    if ("SUCCESS" == msg["status"]) {
                        if (interfaces.{{ rapan.interface.name }}.{{ method.name }}.success) {
                            interfaces.{{ rapan.interface.name }}.{{ method.name }}.success(
                            {% for param in method.params['out'] %}
                            {% if not loop.last %}
                                msg.data["{{ param.name }}"],
                            {% else %}
                                msg.data["{{ param.name }}"]
                            {% endif %}
                            {% endfor %}
                            );
                        }
                    } else if ("FAIL" == msg["status"]) {
                        if (interfaces.{{ rapan.interface.name }}.{{ method.name }}.fail) {
                            interfaces.{{ rapan.interface.name }}.{{ method.name }}.fail(
                                msg.data
                            );
                        }
                    } else if ("ERROR" == msg["status"]) {
                        if (interfaces.{{ rapan.interface.name }}.{{ method.name }}.error) {
                            interfaces.{{ rapan.interface.name }}.{{ method.name }}.error(
                                msg
                            );
                        }
                    } else {
                        alert("'msg[\"status\"]' has incorrect value " +
                            "(not in SUCCESS|FAIL|ERROR), the value is: " + msg["status"]);
                    }
                    
                    if (interfaces.{{ rapan.interface.name }}.{{ method.name }}.always) {
                        interfaces.{{ rapan.interface.name }}.{{ method.name }}.always(
                        {% for param in method.params['out'] %}
                        {% if not loop.last %}
                            msg.data["{{ param.name }}"],
                        {% else %}
                            msg.data["{{ param.name }}"]
                        {% endif %}
                        {% endfor %}
                        );
                    }
                });
                request.error(function(msg) {
                    console.log(msg);
                });
