function (
            {%- for param in method.params['in'] -%}
                {%- if loop.last -%}
                    _{{- param.name -}}
                {%- else -%}
                    _{{- param.name -}},
                {%- endif -%}
            {%- endfor -%}) {
    
        {% if method.params['in'] %}
        {% for param in method.params['in'] %}
            {% if "int" == param.type %}
                var typeOf_{{ param.name }} = typeOf(_{{ param.name }});
                if (typeOf_{{ param.name }} !== "number") {
                    throw "type of '" + typeOf_{{ param.name }} + " _{{ param.name }}' inconsistent with required type 'int'";
                }
            {% endif %}
            {% if "string" == param.type %}
                var typeOf_{{ param.name }} = typeOf(_{{ param.name }});
                if (typeOf_{{ param.name }} !== "string") {
                    throw "type of '" + typeOf_{{ param.name }} + " _{{ param.name }}' inconsistent with required type 'string'";
                }
            {% endif %}
        {% endfor %}
        {% endif %}
    
                var request = $.ajax({
                    method: "POST",
                    url: "{{ ip_addresses[rapan.interface.name] }}/{{ method.name }}",
                    data: {
                {% for param in method.params['in'] %}
                    {% if loop.last %}
                        {{ param.name }}: _{{ param.name }}
                    {% else %}
                        {{ param.name }}: _{{ param.name }},
                    {% endif %}
                {% endfor %}
                    },
                    headers: { "X-CSRFToken": getCookie('csrftoken') }
                });
    
                {% include "code/js/function_exec_result.jinja2" %}
            }
